<header>

    <div class="container">
    
        <a href="/" class="logo"><span>H</span>ealth<span>C</span>are</a>
    
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#facility">Facility</a></li>
                <li><a href="#review">Review</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#post">Post</a></li>
                <li>
                <% if(!currentUser) {%>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Register</a></li>
                    <% } else if(currentUser.isAuthorized === false) {%>
                    <li><a href="/users/<%=currentUser._id%>">My Appointments</a></li>
                    <li><a href="/users/<%=currentUser._id%>/cancelledusr">Cancelled Appointments</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                    <% } else if(currentUser.isAuthorized === true){ %>
                        <li><a href="/doctors/<%=currentUser._id%>">My Patient Appointments</a></li>
                        <li><a href="/doctors/<%=currentUser._id%>/cancelled">Cancelled Appointments</a></li>
                        <li><a href="/doctors/logout">Logout</a></li>
                   <% } %>
                </li>
            </ul>
        </nav>
    
        <div class="fas fa-bars"></div>
    
    </div>
    
    </header>