<%-include('../partials/headerLoginRegister')%> <%
layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/css/login.css" />

<div class="centerr">
  <h1>Dr. Login</h1>
  <form
    action="/doctors/loginDoc"
    method="POST"
    class="validated-form"
    novalidate
  >
    <div class="txt_field">
      <input type="text" id="username" name="username" required />
      <span></span>
      <label for="username">Doctor Name</label>
    </div>
    <div class="txt_field">
      <input type="password" id="password" name="password" required />
      <span></span>
      <label for="password">Password</label>
    </div>
    <input type="submit" value="Login" />
    <div class="signup_link">
      Not a registered doctor? <a href="/doctors/registerDoc">Register</a>
    </div>
  </form>
</div>
