<%-include('../partials/headerLoginRegister')%> <%
layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/css/register.css" />

<div class="centerr">
  <h1>Register</h1>
  <form
    class="form-register"
    action="/doctors/registerDoc"
    method="POST"
    class="validated-form"
    novalidate
  >
    <div class="txt_field">
      <input type="text" id="username" name="username" required />
      <span></span>
      <label for="username">First-Last Name</label>
    </div>

    <div class="txt_field">
      <input type="email" id="email" name="email" required />
      <span></span>
      <label for="email">Email</label>
    </div>

    <div class="txt_field">
      <input type="password" id="password" name="password" required />
      <span></span>
      <label for="password">Password</label>
    </div>

    <div class="txt_field">
      <input type="text" id="tc" name="tc" required />
      <span></span>
      <label for="tc">Social Security Number</label>
    </div>

    <div class="txt_field">
      <input type="number" id="phoneNumber" name="phoneNumber" required />
      <span></span>
      <label for="phoneNumber">Phone Number</label>
    </div>

    <div class="txt_field">
      <input type="text" id="mySecretary" name="mySecretary" required />
      <span></span>
      <label for="mySecretary">My Secretary</label>
    </div>

    <div class="txt_field">
      <input type="text" id="doctorSection" name="doctorSection" required />
      <span></span>
      <label for="doctorSection">Doctor Section</label>
    </div>

    <div class="txt_field">
      <input type="text" id="address" name="address" required />
      <span></span>
      <label for="address">Address</label>
    </div>

    <div class="signup_link">
      Already have an account? <a href="/users/login">Sign in</a>
    </div>

    <input type="submit" value="Sign up" />
  </form>
</div>
